.checkbox {
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.search-input {
    margin-bottom: 10px;
}

.list-wrapper {
    position: relative;
}

.search-dropdown {
    top: 46px;
    left: 15px;
}
